button {
  background-color: rgb(0, 72, 155);
  margin: 10px 0; border: none; border-radius: 4px;
  display: block; color: white;
  font-weight: bold; transition: filter .3 ease-in-out;
  padding: 10px;
}
